*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location, .temperature{
    margin: 4rem 0;
}

.temperature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}